REDMINE_DB_MYSQL={{ redmine_db_host }}
REDMINE_DB_PORT={{ redmine_db_port }}
REDMINE_DB_DATABASE={{ redmine_db_name }}
REDMINE_DB_USERNAME={{ redmine_db_user }}
REDMINE_DB_PASSWORD={{ redmine_db_password }}
REDMINE_SECRET_KEY_BASE={{ redmine_secret_key_base }}
